.container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(20, 1fr);
    max-height: 100vh;
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    // mask: url(#masking);

    @media (orientation: portrait) {
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(18, 1fr);
    }

    &.isLoading {
        grid-template: 1fr / 1fr;
    }

    &:not(.isLoading) {

        &::before {
            content: '';
            position: fixed;
            top: 0;
            background: rgba(48, 52, 63, 1);
            background-size: 100%;
            background-position: center, left, right;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0.3;
            pointer-events: none;
        }

        &::after {
            content: '';
            position: fixed;
            top: calc((100vh - min(100vh, 100vw)) / 2);
            left: calc((100vw - min(100vh, 100vw)) / 2);
            background: no-repeat content-box url('/images/ellipsis-logo-new.svg');
            background-size: 90%;
            background-position: center;
            width: min(100vh, 100vw);
            height: min(100vh, 100vw);
            z-index: 1;
            opacity: 0.5;
            pointer-events: none;
        }
    }
}

.loader {
    margin: 0 auto;
    width: 200px;
    /* control the size */
    aspect-ratio: 1;
    display: grid;
    background: linear-gradient(135deg, #00A8C6, #8FBE00);
    clip-path: inset(10%);
}

.loader:before {
    content: "";
    padding: 10%;
    --_g: no-repeat content-box radial-gradient(50% 50%, #000 95%, #0000);
    background: var(--_g), var(--_g), var(--_g), var(--_g), #fff;
    background-size: 20% 20%;
    filter: blur(5px) contrast(20);
    mix-blend-mode: lighten;
    animation: l 3s infinite, s 3s infinite;
}

@keyframes l {

    0%,
    100% {
        background-position: top, right, bottom, left
    }

    20% {
        background-position: center, right, bottom, left
    }

    40% {
        background-position: center, center, bottom, left
    }

    60% {
        background-position: center, center, center, left
    }

    80% {
        background-position: center, center, center, center
    }
}

@keyframes s {

    0%,
    25%,
    90% {
        background-size: 20% 20%, 20% 20%, 20% 20%, 20% 20%
    }

    40%,
    45% {
        background-size: 30% 30%, 20% 20%, 20% 20%, 20% 20%
    }

    60%,
    65% {
        background-size: 40% 40%, 20% 20%, 20% 20%, 20% 20%
    }

    80% {
        background-size: 50% 50%, 20% 20%, 20% 20%, 20% 20%
    }
}


.button {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    cursor: pointer;
}

.selfieTn {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform 2 ease;
    transform: scale(1);

    &:hover {
        transform: scale(1.1);
    }
}

.modalImage {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 3;
    opacity: 1;
    animation: animate-pop 0.7s cubic-bezier(.26, .53, .74, 1.48);
}

.modalLoader {
    position: fixed;
    object-fit: contain;
    padding: 4rem;
    background: white;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes animate-pop {
    0% {
        opacity: 0;
        transform: perspective(1000px) scale3d(.5, .5, .5);
    }

    50% {
        opacity: 1;
        transform: perspective(1000px) rotateX(1deg) scale3d(1, 1, 1);
    }

    75% {
        transform: perspective(1000px) rotateY(1deg) scale3d(1, 1, 1);
    }

    100% {
        transform: perspective(1000px) scale3d(1, 1, 1);
    }
}

.svg {
    display: none;
}