.alert {
    padding: 30px;
    text-align: center;
    width: fit-content;
    margin: 10px auto;
}

.heading { 
    margin-top: 0;
}

.error {
    background: red;
}

.warning {
    background: orange;
}